In [1]:
import pymongo as pmg
import pandas as pd
import datetime as dt
import pymysql
import matplotlib.pyplot as plt
from matplotlib.lines import TICKLEFT, TICKRIGHT, Line2D
from matplotlib.patches import Rectangle
import matplotlib as mpl
import matplotlib.dates as mdate
from datetime import time
from KRData.HKData import HKFuture
import configparser
import talib as tb

d:\ProgramData\Anaconda3\lib\site-packages\matplotlib\cbook\deprecation.py:106: MatplotlibDeprecationWarning: The finance module has been deprecated in mpl 2.0 and will be removed in mpl 2.2. Please use the module mpl_finance instead.
  warnings.warn(message, mplDeprecation, stacklevel=1)

In [2]:
conf_parser = configparser.ConfigParser()
conf_parser.read( 'conf.ini')
mg_host = conf_parser.get('MGDB', 'host')
mg_user = conf_parser.get('MGDB', 'user')
mg_password = conf_parser.get('MGDB', 'password')
hk=HKFuture(pwd=mg_password,host=mg_host,user=mg_user)
begin='2014-01-01'
dt1=dt.datetime.now()
_fields = ['datetime', 'code', 'open', 'high', 'low', 'close', 'vol']
df1=hk.get_main_contract_bars('HSI', _fields, begin)
print(dt.datetime.now()-dt1)

0:00:33.377909

In [2]:
# df1.to_pickle("pkl/hsi.pkl")
df1=pd.read_pickle("pkl/hsi.pkl")

In [12]:
df1['MACD'],df1['MACD1'],df1['MACD2']=tb.MACD(df1.close.values,fastperiod=6,slowperiod=12,signalperiod=9)
df1['MA30']=tb.EMA(df1.close.values,timeperiod=30)
df1['MA60']=tb.EMA(df1.close.values,timeperiod=60)
df1['CHG']=df1['close']-df1['open']
df1['STD60']=tb.STDDEV(df1['CHG'].values,timeperiod=60)
df1['STD1']=df1['CHG']/df1['STD60']

In [13]:
df1.head(40)

,datetime,code,open,high,low,close,MACD,MACD1,MACD2,MA30,MA60,CHG,STD60,STD1
datetime,,,,,,,,,,,,,,
2014-01-02 09:15:00,2014-01-02 09:15:00,HSI1401,23414.0,23416.0,23370.0,23376.0,NaN,NaN,NaN,NaN,NaN,-38.0,NaN,NaN
2014-01-02 09:16:00,2014-01-02 09:16:00,HSI1401,23376.0,23394.0,23360.0,23394.0,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
2014-01-02 09:17:00,2014-01-02 09:17:00,HSI1401,23395.0,23444.0,23391.0,23431.0,NaN,NaN,NaN,NaN,NaN,36.0,NaN,NaN
2014-01-02 09:18:00,2014-01-02 09:18:00,HSI1401,23432.0,23435.0,23419.0,23423.0,NaN,NaN,NaN,NaN,NaN,-9.0,NaN,NaN
2014-01-02 09:19:00,2014-01-02 09:19:00,HSI1401,23426.0,23426.0,23390.0,23401.0,NaN,NaN,NaN,NaN,NaN,-25.0,NaN,NaN
2014-01-02 09:20:00,2014-01-02 09:20:00,HSI1401,23401.0,23405.0,23384.0,23403.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2014-01-02 09:21:00,2014-01-02 09:21:00,HSI1401,23403.0,23418.0,23401.0,23415.0,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN
2014-01-02 09:22:00,2014-01-02 09:22:00,HSI1401,23415.0,23430.0,23415.0,23430.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN
2014-01-02 09:23:00,2014-01-02 09:23:00,HSI1401,23430.0,23497.0,23430.0,23456.0,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN
2014-01-02 09:24:00,2014-01-02 09:24:00,HSI1401,23455.0,23469.0,23446.0,23447.0,NaN,NaN,NaN,NaN,NaN,-8.0,NaN,NaN
2014-01-02 09:25:00,2014-01-02 09:25:00,HSI1401,23449.0,23459.0,23447.0,23455.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN
2014-01-02 09:26:00,2014-01-02 09:26:00,HSI1401,23457.0,23465.0,23454.0,23465.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
2014-01-02 09:27:00,2014-01-02 09:27:00,HSI1401,23465.0,23487.0,23465.0,23475.0,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN
2014-01-02 09:28:00,2014-01-02 09:28:00,HSI1401,23474.0,23498.0,23471.0,23482.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
2014-01-02 09:29:00,2014-01-02 09:29:00,HSI1401,23483.0,23497.0,23479.0,23485.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2014-01-02 09:30:00,2014-01-02 09:30:00,HSI1401,23489.0,23512.0,23459.0,23463.0,NaN,NaN,NaN,NaN,NaN,-26.0,NaN,NaN
2014-01-02 09:31:00,2014-01-02 09:31:00,HSI1401,23463.0,23468.0,23451.0,23456.0,NaN,NaN,NaN,NaN,NaN,-7.0,NaN,NaN
2014-01-02 09:32:00,2014-01-02 09:32:00,HSI1401,23456.0,23471.0,23456.0,23468.0,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN
2014-01-02 09:33:00,2014-01-02 09:33:00,HSI1401,23469.0,23483.0,23468.0,23471.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2014-01-02 09:34:00,2014-01-02 09:34:00,HSI1401,23471.0,23472.0,23455.0,23466.0,9.020194,16.197372,-7.177178,NaN,NaN,-5.0,NaN,NaN
2014-01-02 09:35:00,2014-01-02 09:35:00,HSI1401,23466.0,23467.0,23432.0,23439.0,4.011047,13.760107,-9.749060,NaN,NaN,-27.0,NaN,NaN
2014-01-02 09:36:00,2014-01-02 09:36:00,HSI1401,23436.0,23437.0,23430.0,23430.0,-0.379583,10.932169,-11.311752,NaN,NaN,-6.0,NaN,NaN
2014-01-02 09:37:00,2014-01-02 09:37:00,HSI1401,23430.0,23435.0,23411.0,23411.0,-5.522069,7.641322,-13.163391,NaN,NaN,-19.0,NaN,NaN
2014-01-02 09:38:00,2014-01-02 09:38:00,HSI1401,23412.0,23425.0,23405.0,23416.0,-7.728097,4.567438,-12.295535,NaN,NaN,4.0,NaN,NaN
2014-01-02 09:39:00,2014-01-02 09:39:00,HSI1401,23416.0,23431.0,23406.0,23406.0,-10.040395,1.645871,-11.686266,NaN,NaN,-10.0,NaN,NaN
2014-01-02 09:40:00,2014-01-02 09:40:00,HSI1401,23405.0,23406.0,23362.0,23379.0,-14.557041,-1.594711,-12.962330,NaN,NaN,-26.0,NaN,NaN
2014-01-02 09:41:00,2014-01-02 09:41:00,HSI1401,23378.0,23409.0,23372.0,23397.0,-14.273386,-4.130446,-10.142940,NaN,NaN,19.0,NaN,NaN
2014-01-02 09:42:00,2014-01-02 09:42:00,HSI1401,23397.0,23398.0,23390.0,23393.0,-14.002017,-6.104760,-7.897257,NaN,NaN,-4.0,NaN,NaN
2014-01-02 09:43:00,2014-01-02 09:43:00,HSI1401,23395.0,23396.0,23339.0,23355.0,-18.233518,-8.530512,-9.703007,NaN,NaN,-40.0,NaN,NaN
2014-01-02 09:44:00,2014-01-02 09:44:00,HSI1401,23357.0,23372.0,23352.0,23367.0,-18.407128,-10.505835,-7.901293,23428.500000,NaN,10.0,NaN,NaN
2014-01-02 09:45:00,2014-01-02 09:45:00,HSI1401,23369.0,23370.0,23331.0,23355.0,-19.285371,-12.261742,-7.023628,23423.758065,NaN,-14.0,NaN,NaN
2014-01-02 09:46:00,2014-01-02 09:46:00,HSI1401,23358.0,23359.0,23348.0,23351.0,-19.495940,-13.708582,-5.787358,23419.063996,NaN,-7.0,NaN,NaN
2014-01-02 09:47:00,2014-01-02 09:47:00,HSI1401,23351.0,23363.0,23351.0,23363.0,-17.183826,-14.403631,-2.780195,23415.446964,NaN,12.0,NaN,NaN
2014-01-02 09:48:00,2014-01-02 09:48:00,HSI1401,23364.0,23375.0,23359.0,23362.0,-15.162929,-14.555490,-0.607439,23411.998773,NaN,-2.0,NaN,NaN
2014-01-02 09:49:00,2014-01-02 09:49:00,HSI1401,23359.0,23367.0,23353.0,23362.0,-13.275005,-14.299393,1.024388,23408.773045,NaN,3.0,NaN,NaN
2014-01-02 09:50:00,2014-01-02 09:50:00,HSI1401,23364.0,23370.0,23363.0,23367.0,-10.891095,-13.617734,2.726638,23406.078010,NaN,3.0,NaN,NaN
2014-01-02 09:51:00,2014-01-02 09:51:00,HSI1401,23366.0,23367.0,23362.0,23367.0,-8.971541,-12.688495,3.716954,23403.556848,NaN,1.0,NaN,NaN
2014-01-02 09:52:00,2014-01-02 09:52:00,HSI1401,23367.0,23375.0,23363.0,23375.0,-6.362072,-11.423211,5.061138,23401.714471,NaN,8.0,NaN,NaN
2014-01-02 09:53:00,2014-01-02 09:53:00,HSI1401,23374.0,23382.0,23374.0,23376.0,-4.373401,-10.013249,5.639847,23400.055473,NaN,2.0,NaN,NaN
2014-01-02 09:54:00,2014-01-02 09:54:00,HSI1401,23375.0,23380.0,23373.0,23380.0,-2.451747,-8.500948,6.049201,23398.761571,NaN,5.0,NaN,NaN

In [15]:
time1=dt.datetime.now()
ref_MACD=0
MACD_In=0
MA60_In=0
Dict_MACD={}
Dict_MA60={}
Res_MACD=[]
Res_MA60=[]
Dict_MACD['State']=0
Dict_MA60['State']=0
ref_Close=0
dt1=dt.time(9,15,0)
dt2=dt.time(16,30,0)
for i,row in df1.iterrows():
    #持续MACD红区
    cont1=row["MACD"]>0 and Dict_MACD['State']==1
    #持续MACD绿区
    cont2=row['MACD']<0 and Dict_MACD['State']==-1
    #转MACD红区
    cont3=row['MACD']>0 and Dict_MACD['State']<=0
    #l转MACD绿区
    cont4=row['MACD']<0 and Dict_MACD['State']>=0
    
    #持续MA60红区
    cont5=row["close"]>row['MA60'] and Dict_MA60['State']==1
    #持续MA60绿区
    cont6=row['close']<row['MA60'] and Dict_MA60['State']==-1
    #转MA60红区
    cont7=row['close']>=row['MA60'] and Dict_MA60['State']<=0
    #l转MA60绿区
    cont8=row['close']<row['MA60'] and Dict_MA60['State']>=0
    
    #MA60计算
    if cont7 or cont8:
        #rec
        if MA60_In>0:
            Dict_MA60['Close']=row['MA60']
            Dict_MA60['End']=i
            if i.time()>dt2 or i.time()<dt1:
                Dict_MA60['Day']=0
            else:
                Dict_MA60['Day']=1
            Res_MA60.append(Dict_MA60)
            Dict_MA60={}
        Dict_MA60['Index']=MA60_In
        Dict_MA60['Begin']=i
        Dict_MA60['Open']=row['close']
        Dict_MA60['High']=row['close']
        Dict_MA60['Low']=row['close']
        Dict_MA60['Count']=1
        Dict_MA60['Std1']=1 if row['STD1']>=1.5 else 0
        Dict_MA60['Std2']=1 if row['STD1']<=-1.5 else 0
        MA60_In+=1
        Dict_MA60['State']=1 if cont7 else -1
    elif cont5 or cont6:
        Dict_MA60['Count']+=1
        
        if row['STD1']>=1.5:
            Dict_MA60['Std1']+=1
        elif row['STD1']<=-1.5:
            Dict_MA60['Std2']+=1
            
        if row['close']>Dict_MA60['High']:
            Dict_MA60['High']=row['close']
        elif row['close']<Dict_MA60['Low']:
            Dict_MA60['Low']=row['close']
    
    #MACD计算
    if cont3 or cont4:
        #rec
        if MACD_In>0:
            Dict_MACD['Close']=row['close']
            Dict_MACD['End']=i
            if i.time()>dt2 or i.time()<dt1:
                Dict_MACD['Day']=0
            else:
                Dict_MACD['Day']=1
            Res_MACD.append(Dict_MACD)
            Dict_MACD={}
        Dict_MACD['Index']=MACD_In
        Dict_MACD['Begin']=i
        Dict_MACD['Open']=row['close']
        Dict_MACD['High']=row['close']
        Dict_MACD['Low']=row['close']
        Dict_MACD['Count']=1
        Dict_MACD['Std1']=1 if row['STD1']>=1.5 else 0
        Dict_MACD['Std2']=1 if row['STD1']<=-1.5 else 0
        MACD_In+=1
#         print(MACD_In)
        Dict_MACD['State']=1 if cont3 else -1
    elif cont1 or cont2:
        Dict_MACD['Count']+=1
        ref_Close=row['close']
        
        if row['STD1']>=1.5:
            Dict_MACD['Std1']+=1
        elif row['STD1']<=-1.5:
            Dict_MACD['Std2']+=1
            
        if row['close']>Dict_MACD['High']:
            Dict_MACD['High']=row['close']
        elif row['close']<Dict_MACD['Low']:
            Dict_MACD['Low']=row['close']
time2=dt.datetime.now()
print(time2-time1)

0:03:14.749139

In [16]:
Ma60=pd.DataFrame(Res_MA60)
Ma60['Diff']=Ma60['Close']-Ma60['Open']
Ma60.head()

,Begin,Close,Count,Day,End,High,Index,Low,Open,State,Std1,Std2,Diff
0,2014-01-02 10:14:00,23236.056955,89,1,2014-01-02 11:43:00,23350.0,0,23184.0,23299.0,-1,2,6,-62.943045
1,2014-01-02 11:43:00,23235.825580,1,1,2014-01-02 11:44:00,23243.0,1,23243.0,23243.0,1,0,0,-7.174420
2,2014-01-02 11:44:00,23235.280723,3,1,2014-01-02 11:47:00,23229.0,2,23227.0,23229.0,-1,0,0,6.280723
3,2014-01-02 11:47:00,23257.329920,26,1,2014-01-02 13:13:00,23293.0,3,23236.0,23236.0,1,2,0,21.329920
4,2014-01-02 13:13:00,23257.483037,1,1,2014-01-02 13:14:00,23255.0,4,23255.0,23255.0,-1,0,1,2.483037

In [22]:
# df3[(df3.State==1) & (df3.Day==1)]['Diff'].agg(['max','min','mean','std'])

Ma60[(Ma60.State==-1) & (Ma60.Day==0)]['Diff'].agg(['max','min','mean','std'])
Ma60[(Ma60.State==1) & (Ma60.Day==0)].groupby('Std1')['Diff'].agg(['sum','max','min','mean','std','count'])

               sum          max         min        mean         std  count
Std1
0    -20671.712287   212.389466 -156.437500   -1.780049    3.938108  11613
1    -11454.485755   123.757535 -113.870525   -2.426284    7.782495   4721
2      4711.736982   146.710270  -35.452290    4.075897   14.209677   1156
3      7862.461439   122.208336  -17.110681   12.420950   18.907697    633
4      9034.530030   260.537410  -10.208748   20.076733   25.502448    450
5      8755.060583   301.845479   -4.860678   32.187723   36.039444    272
6      8934.083325   496.379791   -2.194409   43.794526   50.459407    204
7      6754.873087   184.229745    5.097645   49.305643   35.749385    137
8      7061.067760   315.779076    4.111245   59.839557   48.369760    118
9      5934.425642   257.257018    5.275426   69.816772   55.104045     85
10     6722.059055   399.690454   14.137957   84.025738   74.208411     80
11     4287.297334   348.208908    9.314869   73.918920   68.107941     58
12     4006.380886   420.912298   11.279829  108.280564   88.068942     37
13     3412.801257   320.939605   26.053335  117.682802   67.304008     29
14     2471.495254   366.779586   17.003426  130.078698   98.424372     19
15     2810.075004   342.169464   54.083092  156.115278   85.859018     18
16     1153.469931   258.927661   27.344255  128.163326   67.171024      9
17     2815.050738  1150.260867   51.117602  281.505074  330.247906     10
18      621.116206   208.890782  114.607488  155.279051   43.375094      4
19      351.862762   276.286135   75.576627  175.931381  141.923054      2
20      239.883632   239.883632  239.883632  239.883632         NaN      1
22      263.314120   263.314120  263.314120  263.314120         NaN      1
23      846.704776   326.100737  113.376563  211.676194   96.590015      4
24      468.582752   373.139794   95.442958  234.291376  196.361316      2
25      846.777190   846.777190  846.777190  846.777190         NaN      1
26      209.775420   209.775420  209.775420  209.775420         NaN      1
30     1157.461943   980.102627  177.359317  578.730972  567.625238      2

In [27]:
df2=pd.DataFrame(Res_MACD)
df2['Diff']=df2['Close']-df2['Open']
df2

,Begin,Close,Count,Day,End,High,Index,Low,Open,State,Std1,Std2,Diff
0,2014-01-02 09:34:00,23430.0,2,1,2014-01-02 09:36:00,23466.0,0,23439.0,23466.0,1,0,0,-36.0
1,2014-01-02 09:36:00,23350.0,42,1,2014-01-02 10:18:00,23430.0,1,23299.0,23430.0,-1,0,0,-80.0
2,2014-01-02 10:18:00,23316.0,17,1,2014-01-02 10:35:00,23350.0,2,23337.0,23350.0,1,0,0,-34.0
3,2014-01-02 10:35:00,23237.0,32,1,2014-01-02 11:07:00,23316.0,3,23188.0,23316.0,-1,2,6,-79.0
4,2014-01-02 11:07:00,23210.0,13,1,2014-01-02 11:20:00,23244.0,4,23222.0,23237.0,1,0,0,-27.0
5,2014-01-02 11:20:00,23230.0,11,1,2014-01-02 11:31:00,23216.0,5,23184.0,23210.0,-1,0,0,20.0
6,2014-01-02 11:31:00,23269.0,36,1,2014-01-02 13:07:00,23293.0,6,23216.0,23230.0,1,2,0,39.0
7,2014-01-02 13:07:00,23274.0,10,1,2014-01-02 13:17:00,23279.0,7,23255.0,23269.0,-1,1,1,5.0
8,2014-01-02 13:17:00,23265.0,3,1,2014-01-02 13:20:00,23274.0,8,23269.0,23274.0,1,0,0,-9.0
9,2014-01-02 13:20:00,23275.0,1,1,2014-01-02 13:21:00,23265.0,9,23265.0,23265.0,-1,0,0,10.0
10,2014-01-02 13:21:00,23260.0,3,1,2014-01-02 13:24:00,23277.0,10,23272.0,23275.0,1,0,0,-15.0
11,2014-01-02 13:24:00,23278.0,17,1,2014-01-02 13:41:00,23269.0,11,23249.0,23260.0,-1,0,2,18.0
12,2014-01-02 13:41:00,23354.0,40,1,2014-01-02 14:21:00,23377.0,12,23278.0,23278.0,1,7,1,76.0
13,2014-01-02 14:21:00,23367.0,3,1,2014-01-02 14:24:00,23355.0,13,23354.0,23354.0,-1,0,0,13.0
14,2014-01-02 14:24:00,23356.0,4,1,2014-01-02 14:28:00,23368.0,14,23357.0,23367.0,1,0,0,-11.0
15,2014-01-02 14:28:00,23364.0,1,1,2014-01-02 14:29:00,23356.0,15,23356.0,23356.0,-1,0,0,8.0
16,2014-01-02 14:29:00,23356.0,1,1,2014-01-02 14:30:00,23364.0,16,23364.0,23364.0,1,0,0,-8.0
17,2014-01-02 14:30:00,23321.0,27,1,2014-01-02 14:57:00,23356.0,17,23300.0,23356.0,-1,0,2,-35.0
18,2014-01-02 14:57:00,23309.0,2,1,2014-01-02 14:59:00,23321.0,18,23316.0,23321.0,1,0,0,-12.0
19,2014-01-02 14:59:00,23325.0,1,1,2014-01-02 15:00:00,23309.0,19,23309.0,23309.0,-1,0,0,16.0
20,2014-01-02 15:00:00,23313.0,6,1,2014-01-02 15:06:00,23330.0,20,23313.0,23325.0,1,1,0,-12.0
21,2014-01-02 15:06:00,23312.0,13,1,2014-01-02 15:19:00,23313.0,21,23279.0,23313.0,-1,1,2,-1.0
22,2014-01-02 15:19:00,23314.0,24,1,2014-01-02 15:43:00,23328.0,22,23307.0,23312.0,1,0,0,2.0
23,2014-01-02 15:43:00,23324.0,3,1,2014-01-02 15:46:00,23318.0,23,23314.0,23314.0,-1,0,0,10.0
24,2014-01-02 15:46:00,23315.0,2,1,2014-01-02 15:48:00,23324.0,24,23320.0,23324.0,1,0,0,-9.0
25,2014-01-02 15:48:00,23332.0,7,1,2014-01-02 15:55:00,23320.0,25,23307.0,23315.0,-1,0,0,17.0
26,2014-01-02 15:55:00,23323.0,12,1,2014-01-02 16:07:00,23341.0,26,23321.0,23332.0,1,0,0,-9.0
27,2014-01-02 16:07:00,23333.0,6,1,2014-01-02 16:13:00,23330.0,27,23321.0,23323.0,-1,0,0,10.0
28,2014-01-02 16:13:00,23293.0,2,0,2014-01-02 17:14:00,23334.0,28,23333.0,23333.0,1,0,0,-40.0
29,2014-01-02 17:14:00,23302.0,19,0,2014-01-02 17:39:00,23303.0,29,23283.0,23293.0,-1,0,1,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
72045,2019-03-29 09:48:00,28856.0,4,1,2019-03-29 09:52:00,28857.0,72045,28830.0,28830.0,-1,1,0,26.0
72046,2019-03-29 09:52:00,28845.0,3,1,2019-03-29 09:55:00,28862.0,72046,28851.0,28856.0,1,0,0,-11.0
72047,2019-03-29 09:55:00,28856.0,12,1,2019-03-29 10:07:00,28845.0,72047,28785.0,28845.0,-1,1,2,11.0
72048,2019-03-29 10:07:00,28960.0,35,1,2019-03-29 10:42:00,28999.0,72048,28851.0,28856.0,1,4,2,104.0
72049,2019-03-29 10:42:00,28966.0,1,1,2019-03-29 10:43:00,28960.0,72049,28960.0,28960.0,-1,0,0,6.0
72050,2019-03-29 10:43:00,29040.0,34,1,2019-03-29 11:17:00,29067.0,72050,28966.0,28966.0,1,0,0,74.0
72051,2019-03-29 11:17:00,29054.0,8,1,2019-03-29 11:25:00,29047.0,72051,29030.0,29040.0,-1,0,0,14.0
72052,2019-03-29 11:25:00,29041.0,1,1,2019-03-29 11:26:00,29054.0,72052,29054.0,29054.0,1,0,0,-13.0
72053,2019-03-29 11:26:00,29050.0,1,1,2019-03-29 11:27:00,29041.0,72053,29041.0,29041.0,-1,0,0,9.0
72054,2019-03-29 11:27:00,29034.0,6,1,2019-03-29 11:33:00,29064.0,72054,29041.0,29050.0,1,0,0,-16.0
72055,2019-03-29 11:33:00,29040.0,27,1,2019-03-29 13:00:00,29044.0,72055,29013.0,29034.0,-1,0,0,6.0
72056,2019-03-29 13:00:00,29032.0,10,1,2019-03-29 13:10:00,29053.0,72056,29033.0,29040.0,1,1,0,-8.0
72057,2019-03-29 13:10:00,29043.0,1,1,2019-03-29 13:11:00,29032.0,72057,29032.0,29032.0,-1,0,0,11.0
72058,2019-03-29 13:11:00,29035.0,7,1,2019-03-29 13:18:00,29048.0,72058,29035.0,29043.0,1,1,0,-8.0
72059,2019-03-29 13:18:00,29044.0,1,1,2019-03-29 13:19:00,29035.0,72059,29035.0,29035.0,-1,0,0,9.0
72060,2019-03-29 13:19:00,29077.0,46,1,2019-03-29 14:05:00,29102.0,72060,29044.0,29044.0,1,7,2,33.0
72061,2019-03-29 14:05:00,29092.0,12,1,2019-03-29 14:17:00,29084.0,72061,29069.0,29077.0,-1,0,0,15.0
72062,2019-03-29 14:17:00,29111.0,21,1,2019-03-29 14:38:00,29137.0,72062,29084.0,29092.0,1,1,0,19.0
72063,2019-03-29 14:38:00,29101.0,30,1,2019-03-29 15:08:00,29112.0,72063,29079.0,29111.0,-1,0,3,-10.0
72064,2019-03-29 15:08:00,29098.0,14,1,2019-03-29 15:22:00,29118.0,72064,29101.0,29101.0,1,1,0,-3.0
72065,2019-03-29 15:22:00,29112.0,4,1,2019-03-29 15:26:00,29108.0,72065,29098.0,29098.0,-1,0,0,14.0
72066,2019-03-29 15:26:00,29103.0,2,1,2019-03-29 15:28:00,29112.0,72066,29106.0,29112.0,1,0,0,-9.0
72067,2019-03-29 15:28:00,29109.0,1,1,2019-03-29 15:29:00,29103.0,72067,29103.0,29103.0,-1,0,0,6.0
72068,2019-03-29 15:29:00,29113.0,14,1,2019-03-29 15:43:00,29131.0,72068,29109.0,29109.0,1,1,1,4.0
72069,2019-03-29 15:43:00,29124.0,5,1,2019-03-29 15:48:00,29119.0,72069,29113.0,29113.0,-1,0,0,11.0
72070,2019-03-29 15:48:00,29116.0,2,1,2019-03-29 15:50:00,29124.0,72070,29119.0,29124.0,1,0,0,-8.0
72071,2019-03-29 15:50:00,29124.0,2,1,2019-03-29 15:52:00,29120.0,72071,29116.0,29116.0,-1,0,0,8.0
72072,2019-03-29 15:52:00,29117.0,5,1,2019-03-29 15:57:00,29126.0,72072,29119.0,29124.0,1,0,0,-7.0
72073,2019-03-29 15:57:00,29177.0,12,1,2019-03-29 16:09:00,29124.0,72073,29088.0,29117.0,-1,3,2,60.0
72074,2019-03-29 16:09:00,29101.0,6,1,2019-03-29 16:15:00,29177.0,72074,29106.0,29177.0,1,1,3,-76.0

In [15]:
dt1=dt.time(9,15,0)
dt1=dt.time(16,30,0)
df1[df1.index.time>=dt1]

,datetime,code,open,high,low,close,MACD,MACD1,MACD2,MA30,MA60,CHG,STD60,STD1
datetime,,,,,,,,,,,,,,
2014-01-02 09:15:00,2014-01-02 09:15:00,HSI1401,23414.0,23416.0,23370.0,23376.0,NaN,NaN,NaN,NaN,NaN,-38.0,NaN,NaN
2014-01-02 09:16:00,2014-01-02 09:16:00,HSI1401,23376.0,23394.0,23360.0,23394.0,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
2014-01-02 09:17:00,2014-01-02 09:17:00,HSI1401,23395.0,23444.0,23391.0,23431.0,NaN,NaN,NaN,NaN,NaN,36.0,NaN,NaN
2014-01-02 09:18:00,2014-01-02 09:18:00,HSI1401,23432.0,23435.0,23419.0,23423.0,NaN,NaN,NaN,NaN,NaN,-9.0,NaN,NaN
2014-01-02 09:19:00,2014-01-02 09:19:00,HSI1401,23426.0,23426.0,23390.0,23401.0,NaN,NaN,NaN,NaN,NaN,-25.0,NaN,NaN
2014-01-02 09:20:00,2014-01-02 09:20:00,HSI1401,23401.0,23405.0,23384.0,23403.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2014-01-02 09:21:00,2014-01-02 09:21:00,HSI1401,23403.0,23418.0,23401.0,23415.0,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN
2014-01-02 09:22:00,2014-01-02 09:22:00,HSI1401,23415.0,23430.0,23415.0,23430.0,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN
2014-01-02 09:23:00,2014-01-02 09:23:00,HSI1401,23430.0,23497.0,23430.0,23456.0,NaN,NaN,NaN,NaN,NaN,26.0,NaN,NaN
2014-01-02 09:24:00,2014-01-02 09:24:00,HSI1401,23455.0,23469.0,23446.0,23447.0,NaN,NaN,NaN,NaN,NaN,-8.0,NaN,NaN
2014-01-02 09:25:00,2014-01-02 09:25:00,HSI1401,23449.0,23459.0,23447.0,23455.0,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN
2014-01-02 09:26:00,2014-01-02 09:26:00,HSI1401,23457.0,23465.0,23454.0,23465.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
2014-01-02 09:27:00,2014-01-02 09:27:00,HSI1401,23465.0,23487.0,23465.0,23475.0,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN
2014-01-02 09:28:00,2014-01-02 09:28:00,HSI1401,23474.0,23498.0,23471.0,23482.0,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN
2014-01-02 09:29:00,2014-01-02 09:29:00,HSI1401,23483.0,23497.0,23479.0,23485.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2014-01-02 09:30:00,2014-01-02 09:30:00,HSI1401,23489.0,23512.0,23459.0,23463.0,NaN,NaN,NaN,NaN,NaN,-26.0,NaN,NaN
2014-01-02 09:31:00,2014-01-02 09:31:00,HSI1401,23463.0,23468.0,23451.0,23456.0,NaN,NaN,NaN,NaN,NaN,-7.0,NaN,NaN
2014-01-02 09:32:00,2014-01-02 09:32:00,HSI1401,23456.0,23471.0,23456.0,23468.0,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN
2014-01-02 09:33:00,2014-01-02 09:33:00,HSI1401,23469.0,23483.0,23468.0,23471.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2014-01-02 09:34:00,2014-01-02 09:34:00,HSI1401,23471.0,23472.0,23455.0,23466.0,9.020194,16.197372,-7.177178,NaN,NaN,-5.0,NaN,NaN
2014-01-02 09:35:00,2014-01-02 09:35:00,HSI1401,23466.0,23467.0,23432.0,23439.0,4.011047,13.760107,-9.749060,NaN,NaN,-27.0,NaN,NaN
2014-01-02 09:36:00,2014-01-02 09:36:00,HSI1401,23436.0,23437.0,23430.0,23430.0,-0.379583,10.932169,-11.311752,NaN,NaN,-6.0,NaN,NaN
2014-01-02 09:37:00,2014-01-02 09:37:00,HSI1401,23430.0,23435.0,23411.0,23411.0,-5.522069,7.641322,-13.163391,NaN,NaN,-19.0,NaN,NaN
2014-01-02 09:38:00,2014-01-02 09:38:00,HSI1401,23412.0,23425.0,23405.0,23416.0,-7.728097,4.567438,-12.295535,NaN,NaN,4.0,NaN,NaN
2014-01-02 09:39:00,2014-01-02 09:39:00,HSI1401,23416.0,23431.0,23406.0,23406.0,-10.040395,1.645871,-11.686266,NaN,NaN,-10.0,NaN,NaN
2014-01-02 09:40:00,2014-01-02 09:40:00,HSI1401,23405.0,23406.0,23362.0,23379.0,-14.557041,-1.594711,-12.962330,NaN,NaN,-26.0,NaN,NaN
2014-01-02 09:41:00,2014-01-02 09:41:00,HSI1401,23378.0,23409.0,23372.0,23397.0,-14.273386,-4.130446,-10.142940,NaN,NaN,19.0,NaN,NaN
2014-01-02 09:42:00,2014-01-02 09:42:00,HSI1401,23397.0,23398.0,23390.0,23393.0,-14.002017,-6.104760,-7.897257,NaN,NaN,-4.0,NaN,NaN
2014-01-02 09:43:00,2014-01-02 09:43:00,HSI1401,23395.0,23396.0,23339.0,23355.0,-18.233518,-8.530512,-9.703007,NaN,NaN,-40.0,NaN,NaN
2014-01-02 09:44:00,2014-01-02 09:44:00,HSI1401,23357.0,23372.0,23352.0,23367.0,-18.407128,-10.505835,-7.901293,23428.500000,NaN,10.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-03-29 16:01:00,2019-03-29 16:01:00,HSI1904,29114.0,29120.0,29100.0,29100.0,-3.632310,-1.313119,-2.319191,29115.704023,29112.375514,-14.0,4.768269,-2.936076
2019-03-29 16:02:00,2019-03-29 16:02:00,HSI1904,29100.0,29114.0,29099.0,29110.0,-3.132060,-1.676907,-1.455152,29115.336022,29112.297628,10.0,4.800000,2.083333
2019-03-29 16:03:00,2019-03-29 16:03:00,HSI1904,29109.0,29113.0,29102.0,29107.0,-3.087642,-1.959054,-1.128588,29114.798214,29112.123936,-2.0,4.776214,-0.418742
2019-03-29 16:04:00,2019-03-29 16:04:00,HSI1904,29107.0,29107.0,29095.0,29100.0,-3.848153,-2.336874,-1.511279,29113.843491,29111.726430,-7.0,4.860813,-1.440088
2019-03-29 16:05:00,2019-03-29 16:05:00,HSI1904,29100.0,29102.0,29088.0,29088.0,-5.721070,-3.013713,-2.707357,29112.176169,29110.948514,-12.0,5.105852,-2.350244
2019-03-29 16:06:00,2019-03-29 16:06:00,HSI1904,29089.0,29093.0,29085.0,29092.0,-6.074105,-3.625792,-2.448313,29110.874480,29110.327251,3.0,5.118024,0.586164
2019-03-29 16:07:00,2019-03-29 16:07:00,HSI1904,29094.0,29105.0,29092.0,29105.0,-4.306199,-3.761873,-0.544325,29110.495482,29110.152587,11.0,5.294546,2.077609
2019-03-29 16:08:00,2019-03-29 16:08:00,HSI1904,29104.0,29131.0,29103.0,29124.0,-0.542906,-3.118080,2.575174,29111.366741,29110.606601,20.0,5.673036,3.525449
2019-03-29 16:09:00,2019-03-29 16:09:00,HSI1904,29125.0,29180.0,29123.0,29177.0,8.744487,-0.745566,9.490053,29115.601145,29112.783433,52.0,8.698020,5.978372
2019-03-29 16:10:00,2019-03-29 16:10:00,HSI1904,29178.0,29181.0,29151.0,29155.0,11.072274,1.618002,9.454273,29118.143006,29114.167583,-23.0,9.215612,-2.495765
2019-03-29 16:11:00,2019-03-29 16:11:00,HSI1904,29154.0,29156.0,29139.0,29139.0,9.882595,3.270921,6.611675,29119.488619,29114.981761,-15.0,9.436263,-1.589612
2019-03-29 16:12:00,2019-03-29 16:12:00,HSI1904,29140.0,29140.0,29123.0,29123.0,6.619269,3.940590,2.678679,29119.715159,29115.244654,-17.0,9.694715,-1.753533
2019-03-29 16:13:00,2019-03-29 16:13:00,HSI1904,29123.0,29125.0,29113.0,29117.0,3.564763,3.865425,-0.300662,29119.539988,29115.302206,-6.0,9.727053,-0.616836
2019-03-29 16:14:00,2019-03-29 16:14:00,HSI1904,29117.0,29123.0,29102.0,29106.0,0.111390,3.114618,-3.003227,29118.666440,29114.997216,-11.0,9.827668,-1.119289
2019-03-29 16:15:00,2019-03-29 16:15:00,HSI1904,29105.0,29106.0,29098.0,29101.0,-2.640050,1.963684,-4.603734,29117.526670,29114.538291,-4.0,9.832712,-0.406805
2019-03-29 16:16:00,2019-03-29 16:16:00,HSI1904,29100.0,29106.0,29086.0,29087.0,-6.033115,0.364324,-6.397440,29115.557207,29113.635396,-13.0,9.951326,-1.306359
2019-03-29 16:17:00,2019-03-29 16:17:00,HSI1904,29086.0,29088.0,29077.0,29079.0,-8.873623,-1.483265,-7.390358,29113.198678,29112.499809,-7.0,9.982763,-0.701209
2019-03-29 16:18:00,2019-03-29 16:18:00,HSI1904,29079.0,29084.0,29074.0,29075.0,-10.727836,-3.332179,-7.395657,29110.734247,29111.270307,-4.0,9.993484,-0.400261
2019-03-29 16:19:00,2019-03-29 16:19:00,HSI1904,29074.0,29075.0,29066.0,29073.0,-11.640697,-4.993883,-6.646815,29108.299779,29110.015543,-1.0,9.993665,-0.100063
2019-03-29 16:20:00,2019-03-29 16:20:00,HSI1904,29072.0,29083.0,29066.0,29077.0,-11.153275,-6.225761,-4.927514,29106.280439,29108.933066,5.0,10.017152,0.499144
2019-03-29 16:21:00,2019-03-29 16:21:00,HSI1904,29077.0,29083.0,29076.0,29080.0,-9.972821,-6.975173,-2.997648,29104.584927,29107.984441,3.0,10.014143,0.299576
2019-03-29 16:22:00,2019-03-29 16:22:00,HSI1904,29080.0,29089.0,29079.0,29083.0,-8.425390,-7.265217,-1.160173,29103.192351,29107.165279,3.0,10.009773,0.299707
2019-03-29 16:23:00,2019-03-29 16:23:00,HSI1904,29083.0,29086.0,29083.0,29083.0,-7.119782,-7.236130,0.116347,29101.889618,29106.372975,0.0,9.988035,0.000000
2019-03-29 16:24:00,2019-03-29 16:24:00,HSI1904,29085.0,29089.0,29080.0,29086.0,-5.622117,-6.913327,1.291210,29100.864482,29105.705008,1.0,9.974634,0.100254
2019-03-29 16:25:00,2019-03-29 16:25:00,HSI1904,29087.0,29091.0,29071.0,29071.0,-6.447831,-6.820228,0.372397,29098.937741,29104.567139,-16.0,10.175938,-1.572337
2019-03-29 16:26:00,2019-03-29 16:26:00,HSI1904,29071.0,29073.0,29062.0,29063.0,-7.718412,-6.999865,-0.718547,29096.619177,29103.204282,-8.0,10.195260,-0.784678
2019-03-29 16:27:00,2019-03-29 16:27:00,HSI1904,29062.0,29064.0,29052.0,29052.0,-9.597625,-7.519417,-2.078208,29093.740520,29101.525453,-10.0,10.242667,-0.976308
2019-03-29 16:28:00,2019-03-29 16:28:00,HSI1904,29052.0,29077.0,29051.0,29072.0,-7.674176,-7.550369,-0.123808,29092.337906,29100.557406,20.0,10.580170,1.890329
2019-03-29 16:29:00,2019-03-29 16:29:00,HSI1904,29073.0,29079.0,29066.0,29076.0,-5.646854,-7.169666,1.522812,29091.283848,29099.752245,3.0,10.545879,0.284471
2019-03-29 16:30:00,2019-03-29 16:30:00,HSI1904,29077.0,29077.0,29077.0,29077.0,-4.041467,-6.544026,2.502559,29090.362309,29099.006270,0.0,10.501257,0.000000

In [31]:
df2[(df2.State==1) & (df2.Day==1)]['Diff'].agg(['max','min','mean','std'])

max     893.000000
min    -992.000000
mean     -0.072913
std      45.811485
Name: Diff, dtype: float64

In [32]:
df2[df2.State==1]['Count'].agg(['max','min','mean','std'])

max     157.00000
min       1.00000
mean     13.26239
std      13.48442
Name: Count, dtype: float64

In [44]:
df2['hh']=df2.apply(lambda x:x.Begin.time().hour,axis=1)
df2[df2.State==1].groupby('hh')['Diff'].agg(['max','min','mean','std','count'])

      max    min       mean        std  count
hh
0   589.0 -992.0  -1.061135  89.104121    687
9   882.0 -235.0   0.349847  59.895631   1958
10  489.0 -105.0   0.440603  40.222055   2921
11  457.0 -451.0   0.082313  35.316139   2940
12    0.0 -142.0 -38.200000  58.942345      5
13  498.0  -82.0  -1.740180  30.936376   3106
14  439.0 -108.0  -0.388438  31.849561   2958
15  380.0 -440.0   0.187910  38.575829   2895
16  329.0 -566.0   1.058598  41.184382   1041
17  427.0 -146.0  -0.287754  20.635524   1821
18  376.0  -59.0  -0.027153  20.590771   2578
19  130.0  -57.0  -1.738434  13.734177   2745
20  220.0  -86.0  -1.847252  15.291487   2802
21  637.0  -72.0  -0.373411  25.961663   2911
22  430.0 -375.0   0.116762  36.026255   2792
23  893.0 -766.0   2.266773  60.497702   1878

In [33]:
df2[(df2.State==1) & ( df2.Std1==0)]['Diff'].agg(['max','min','mean','std'])

max     178.000000
min    -146.000000
mean     -2.932011
std       9.379818
Name: Diff, dtype: float64

In [38]:
df2[df2.State==1].groupby('Std1')['Diff'].agg(['sum','mean','count','max','min'])

          sum        mean  count    max    min
Std1
0    -57227.0   -2.932011  19518  178.0 -146.0
1      3027.0    0.369372   8195  228.0 -186.0
2     48911.0   14.022649   3488  586.0 -178.0
3     49436.0   26.621432   1857  463.0  -74.0
4     48188.0   43.140555   1117  371.0  -47.0
5     41984.0   58.883590    713  933.0  -72.0
6     30566.0   76.034826    402  673.0  -22.0
7     25176.0   96.091603    262  469.0  -29.0
8     19948.0  104.439791    191  552.0   11.0
9     12316.0  118.423077    104  936.0   12.0
10    10219.0  143.929577     71  456.0   18.0
11     7627.0  146.673077     52  500.0   25.0
12     5805.0  193.500000     30  449.0   15.0
13     4017.0  236.294118     17  535.0   32.0
14     2621.0  238.272727     11  384.0   59.0
15      751.0  250.333333      3  256.0  242.0
16      293.0  146.500000      2  207.0   86.0
17      526.0  263.000000      2  359.0  167.0
18      649.0  324.500000      2  433.0  216.0
23      441.0  441.000000      1  441.0  441.0